:root {
	--text: hsl(0, 0%, 100%);
	--text-reverse: hsl(0, 0%, 0%);
	--textDim: hsl(0, 0%, 60%);
	--background: hsl(0, 0%, 0%);
	--background-reverse: hsl(0, 0%, 100%);
	--scroll-bar: 31, 195, 255;
	--primaryBg: hsla(155, 100%, 65%, 1%);
	--primaryHi: hsla(155, 100%, 75%, 25%);
	--primaryFg: hsl(155, 100%, 85%);
	--secondary: hsl(156, 51%, 14%);
	--secondaryFg: hsl(156, 51%, 75%);
	--secondaryBg: hsla(156, 51%, 14%, 5%);
	--secondaryHi: hsla(156, 51%, 30%, 50%);
	--accent: hsl(155, 100%, 94%);
	--accentBg: hsla(155, 100%, 94%, 1%);
	--accentHi: hsla(155, 100%, 100%, 25%);
}
body {
}
body {
	font-family: 'Fugaz One', sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: var(--background);
	color: var(--text);
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
